#aaa{
    width: 200px;
    height: 200px;
    background: fuchsia;
    position: absolute;
    left: 100px;
    top: 100px;
    border-radius: 50%;
}
body{
    background: gray;
    margin:0
}

#aa{
    background: green;
    width: 100vw;
    height: 100vh;
    
}
h1{
    color: blue;
}
h3{
    color:rgb(37, 196, 85);
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 40px;
}
h2{
    color:violet
}
button{
    position: absolute;
    bottom: 0px;
    margin-left: 50vw
}